.rfptask-important, .widefat .rfptask-important td {
	color: #CC0033;
}

.rfptask-low, .widefat .rfptask-low td {
	color: #666666;
}

p.error {
	margin: 5px 0 15px;
	background-color: #FFEBE8;
    border-color: #CC0000;
	border-radius: 3px;
    border-style: solid;
    border-width: 1px;
	padding: 5px;
}

#rfptask-list th#checkbox-col, #rfptask-list-completed  th#checkbox-col {
	width: 15px;
}
#rfptask-cats th#id-col, #rfptask-list th#id-col, #rfptask-list-completed th#id-col {
	width: 5%;
}
#rfptask-cats th#vis-col {
	width: 15%;
}
#rfptask-cats th#action-col, #rfptask-list th#action-col, #rfptask-list-completed th#action-col {
	width: 8%;
	min-width: 120px;
}

#cleverness_rfptask_priority, #cleverness_rfptask_deadline, #cat, #cleverness_rfptask_planner {
	width: 220px;
}

#cleverness_rfptask_progress {
	width: 30px;
	margin-left: 5px;
	margin-right: 0;
	border: 0;
	text-align: right;
	padding: 0;
}

#cleverness-rfptask-progress-slider {
	float: left;
	width: 170px;
	margin-top: 5px;
	border-radius: 0;
}

#cleverness_rfptask input.floatleft {
	float: left;
	margin-right: 5px;
}

table#rfptask-list thead tr .header {
	background: rgb(241, 241, 241) url(images/bg.gif);
	background-image: url(images/bg.gif), -moz-linear-gradient(center top, #F9F9F9, #ECECEC);
	background-image: url(images/bg.gif), -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC));
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table#rfptask-list thead tr .headerSortUp {
	background-image: url(images/asc.gif);
	background-image: url(images/asc.gif), -moz-linear-gradient(center top, #F9F9F9, #ECECEC);
	background-image: url(images/asc.gif), -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC));
}

table#rfptask-list thead tr .headerSortDown {
	background-image: url(images/desc.gif);
	background-image: url(images/desc.gif), -moz-linear-gradient(center top, #F9F9F9, #ECECEC);
	background-image: url(images/desc.gif), -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC));
}

#ui-datepicker-div {
	display: none;
}

#wp-clevernessrfptaskdescription-wrap {
	width: 60%;
	min-width: 500px;
	overflow: auto;
}

#cleverness_rfptask h4 {
	margin-top: 15px;
	clear: both;
}

.rfptaskitem {
	margin-left: 20px;
}

.rfptaskitem p {
	margin: 0.2em 0;
}

div.rfptask-list {
	clear: both;
	margin: 8px 0;
}

#rfptask-list-completed th {
	cursor: pointer;
}

#rfptask-list-completed #checkbox-col .icon {
	background: url(images/ui-icons_888888_256x240.png);
	display: block;
	height: 16px;
	width: 16px;
}

#rfptask-list-completed #checkbox-col .minus {
	background-position: -48px -128px;
}

#rfptask-list-completed #checkbox-col .plus {
	background-position: -16px -128px;
}
